

.category-page {
  padding: 50px 20px;
  background: #fafafa;
  min-height: 100vh;
}

.category-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: #222;
}

/* Product Grid Layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}



/* Laptop */
@media (max-width: 1100px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-title {
    font-size: 26px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
