.hero {
  height: 80vh;
  background: url("https://plus.unsplash.com/premium_photo-1712764121254-d9867c694b81?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c21hcnQlMjB3YXRjaHxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(255,255,255,0.85);
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero-content p {
  font-size: 18px;
  margin-top: 15px;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.categories h2 {
padding: 60px 20px ;
text-align: center;
}

.cat-card {
  background: #fff;
  border-radius: 12px;
  width: 250px; 
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-decoration: none;   
  color: black;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.cat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.cat-img {
  width: 100%;
  height: 180px; 
  object-fit: cover;
}

.cat-card h3 {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* Responsive */
@media(max-width:768px){
  .category-grid{
    flex-direction: column;
    align-items: center;
  }
}


.featured {
  padding: 60px 20px;
    text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
  gap: 25px;
  margin-top: 30px;


}



/* Mobile Responsive */
@media (max-width:768px){
  .hero-content h1{
    font-size:32px;
  }
}
