.product-detail {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
  justify-content: center;
}

.product-img {
  width: 400px;
  border-radius: 15px;
  object-fit: cover;
}

.product-info {
  max-width: 500px;
}

.product-info h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-info p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

.product-info h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.add-btn {
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.add-btn:hover {
  background: #f0a500;
}

/* Responsive */
@media(max-width:768px){
  .product-detail{
    flex-direction: column;
    align-items: center;
  }

  .product-img{
    width: 90%;
  }

  .product-info{
    width: 90%;
    text-align: center;
  }
}
